body {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  font-family: 'Unica One', cursive;
}

.title h1 {
  font-size: 3.5em;
}

.title h5 {
  margin-top: 1.5em;
  font-size: 1.5em;
}

.metric {
  margin-top: 2.5em;
}

.metric img {
  width: 64px;
  height: 64px;
}

#properties h6 {
  padding-top: 0.25em;
  font-size: 1.2em;
}

.temp {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #E04006;
  background: none;
  font-size: 1.5em;
  text-align: center;
}

.temp:hover {
  transform: scale(1.15);
  background: none;
  border: 2px solid #E04006;
}

#cityName {
  font-size: 3.5em;
}


/* FLEX Properties */

.container {
  display: flex;
  justify-content: center;
}

.wrapper {
  padding: 0.55em;
  margin-top: 7em;
  text-align: center;
  background: rgba(217, 217, 217, 0.75);
  border: 1px solid rgba(224, 64, 6, 0.4);
  border-radius: 100px;
  width: 50%;
}

#title {
  display: flex;
  flex-direction: column;
}

#metric {
  display: flex;
}

#properties {
  display: flex;
  flex-direction: row;
  max-width: 450px;
  margin: 0 auto;
}

#properties div {
  flex-grow: 1;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid #E04006;
  background: none;
  font-weight: bold;
  margin: 20px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .wrapper {
    margin-top: 1.5em;
    width: 100%;
  }
  #properties h6 {
    padding-top: 0.25em;
    font-size: 1em;
  }
  #properties div {
    flex-grow: 1;
    height: 100px;
    width: 100px;
    border: none;
    background: none;
    font-weight: bold;
    margin: 20px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}